<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<title>T3CON12 Québec - Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Simple Test Site for T3CON12 in Québec">
	<meta name="author" content="Bastian Waidelich">

	<link rel="stylesheet" href="../../Public/Css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="../../Public/Css/custom.css" type="text/css" media="all">
	<link rel="stylesheet" href="../../Public/Css/bootstrap-responsive.min.css" type="text/css" media="all">

	<link rel="shortcut icon" href="../../Public/Images/favicon.ico">
</head>
<body>

	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
				<a class="brand" href="./">T3CON12 Québec</a>
				<nav id="mainNavigation" class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<div class="container-fluid">
		<div class="row-fluid">
			<section class="span3">
				<h1>Secondary content</h1>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
				<h3>Some sub header</h3>
				<p>sed diam nonumy eirmod <a href="#">tempor invidunt</a> ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
			</section>
			<section class="span9">
				<h1>Main content</h1>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
				<p>sed diam nonumy eirmod <a href="#">tempor invidunt</a> ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est <em>Lorem ipsum dolor</em> sit amet.</p>
				<h3>Some sub header</h3>
				<p>At vero eos et accusam et justo duo dolores et ea rebum. <strong>Stet clita kasd</strong> gubergren, no sea takimata <a href="#">sanctus est</a> Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est <em>Lorem ipsum dolor</em> sit amet.</p>
			</section>
		</div>
		<hr>
		<footer>
			<p>T3CON12 - Québec &copy; Bastian Waidelich</p>
		</footer>
	</div>

	<script src="../../Public/JavaScript/jquery.min.js"></script>
	<script src="../../Public/JavaScript/jquery.colorbox.min.js"></script>
	<script src="../../Public/JavaScript/bootstrap.min.js"></script>
	<script src="../../Public/JavaScript/app.js"></script>

</body>
</html>