<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<title>T3CON12 Québec - {data.title}</title>
	<f:base />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Simple Test Site for T3CON12 in Québec">
	<meta name="author" content="Bastian Waidelich">

	<link rel="stylesheet" href="{f:uri.resource(path: 'Css/bootstrap.min.css')}" type="text/css" media="all">
	<link rel="stylesheet" href="{f:uri.resource(path: 'Css/custom.css')}" type="text/css" media="all">
	<link rel="stylesheet" href="{f:uri.resource(path: 'Css/bootstrap-responsive.min.css')}" type="text/css" media="all">
	<f:comment>
		<link rel="stylesheet" href="../../Public/Css/bootstrap.min.css" type="text/css" media="all">
		<link rel="stylesheet" href="../../Public/Css/custom.css" type="text/css" media="all">
		<link rel="stylesheet" href="../../Public/Css/bootstrap-responsive.min.css" type="text/css" media="all">
	</f:comment>

	<link rel="shortcut icon" href="{f:uri.resource(path: 'Images/favicon.ico')}">
</head>
<body>

	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
				<a class="brand" href="./">T3CON12 Québec</a>
				<f:cObject typoscriptObjectPath="lib.mainNavigation">
					<nav id="mainNavigation" class="nav-collapse">
						<ul class="nav">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</nav>
				</f:cObject>
				<div id="userMenu" class="btn-group pull-right">
					<noscript><em>Please enable JavaScript</em></noscript>
				</div>
			</div>
		</div>
	</header>

	<div class="container-fluid">
		<div class="row-fluid">
			<f:render partial="Content{layout}" arguments="{_all}" />
		</div>
		<hr>
		<footer>
			<p>T3CON12 - Québec &copy; Bastian Waidelich</p>
		</footer>
	</div>

	<script src="{f:uri.resource(path: 'JavaScript/jquery.min.js')}"></script>
	<script src="{f:uri.resource(path: 'JavaScript/jquery.colorbox.min.js')}"></script>
	<script src="{f:uri.resource(path: 'JavaScript/bootstrap.min.js')}"></script>
	<script src="{f:uri.resource(path: 'JavaScript/app.js')}"></script>
	<f:comment>
		<script src="../../Public/JavaScript/jquery.min.js"></script>
		<script src="../../Public/JavaScript/jquery.colorbox.min.js"></script>
		<script src="../../Public/JavaScript/bootstrap.min.js"></script>
		<script src="../../Public/JavaScript/app.js"></script>
	</f:comment>

</body>
</html>